.content__create {
    margin: 1.6rem 0;
}

.content__create a {
    font-size: 1.6rem;
    
    text-decoration: none;
    color: #4F4F4F;
}

.content__table {
    border-spacing: 0;
    border-collapse: collapse;

    margin: 0 auto;

    width: 80%;
    border: 0.4px solid #2D9CDB;
}

.content__table-head {
    padding: 0.7rem;
    border-bottom: 0.4px solid #2D9CDB;

    background-color: #2D9CDB;
    color: whitesmoke;
    font-size: 1.2rem;

    text-align: start;
}

#action {
    width: 5rem;
}

.content__table-data {
    padding: 0.9rem;
    border-bottom: 0.4px solid #2D9CDB;
}

.content__table-data:first-child {
    font-weight: bold;
}

.content__action {
    display: flex;
    align-items: center;
}

.content__action a img {
    width: 1.7rem;

    transition: 0.1s;
}

.content__action a img:hover {
    transform: scale(1.1);
}

.content__action a img:first-child {
    margin-right: 8px;
}
