<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/components/form.css">

    <title>Update Notice</title>
</head>
<body>
    <div class="content__top">
        <a href="/?page=dashboard"><img src="/public/assets/left-arrow.svg" alt="Back"></a>
        <h1>Update notice</h1>
    </div>
    <form class="content__form" id="form-notice" action="/?page=dashboard&method=update&id={{ id }}" method="POST">
        <fieldset class="content__fieldset" action="">
            <div class="content__input-group">
                <label class="content__title" for="title">Title</label>
                <input class="content__input" type="text" name="title" value="{{ title }}">
            </div>

            <div class="content__input-group">
                <label class="content__title" for="description">Description</label>
                <textarea class="content__input" type="text" name="description">{{ description }}</textarea>
            </div>

            <div class="content__button-group">
                <button type="submit" form="form-notice">Submit</button>
            </div>
        </fieldset>
    </form>
    
</body>
</html>