<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Notice</title>
</head>
<body>
    <form id="form-notice" action="/?page=dashboard&method=insert" method="POST">
        <fieldset action="">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="Insert a title.">
            </div>

            <div>
                <label for="description">Description</label>
                <textarea cols="55" rows="5" type="text" placeholder="Insert a description." name="description"></textarea>
            </div>

            <button type="submit" form="form-notice">Submit</button>
        </fieldset>
    </form>
    
</body>
</html>