<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/styles/global.css">

    <link rel="stylesheet" href="/public/styles/components/notice.css">
    <link rel="stylesheet" href="/public/styles/components/comment.css">
    <link rel="stylesheet" href="/public/styles/components/form.css">

    <title>Notice</title>
</head>
<body>
    <div class="content__top">
        <a href="/"><img src="/public/assets/left-arrow.svg" alt="Back"></a>
        <h1>Notice</h1>
    </div>

    <div class="content__notice">
        <h2 class="content__title">{{ title }}</h2>
        <p class="content__description"> 
            {{ description }}
        </p>
    </div>

    <h1 id="comments">Comments</h1>

    <div class="content__insert-comment">
        <form class="content__form" id="form-comment" action="/?page=notice&method=addComment&id={{ id }}" method="POST">
            <fieldset class="content__fieldset">
                <div class="content__input-group">
                    <label class="content__title" for="name">Name</label>
                    <input class="content__input" name="name" placeholder="Write your name." type="text">
                </div>

                <div class="content__input-group">
                    <label class="content__title" for="msg">Comment</label>
                    <textarea id="textarea-comment" class="content__input"  name="msg" placeholder="Write a comment." ></textarea>
                </div>

                <div class="content__button-group">
                    <button type="submit" form="form-comment">
                        Submit
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    {% if comments == 'This notice has no comments.' %}
        <p>This notice has no comments.</p>
    {% else %}
        {% for comment in comments %}
            <div class="content__comment">
                <h2 class="content__name">{{ comment.getName() }}</h2>
                <p class="content__text">{{ comment.getMsg() }}</p>
            </div>
        {% endfor %}
    {% endif %}
</body> 
</html>