.content__main {
    width: 70rem;
    
    flex: 4;

    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: 0px 5px 10px rgb(219, 219, 219);

    padding: 0 4rem;
    
}

.content__top {
    display: flex;
    align-items: center;
    justify-content: start;
}

.content__top a {
    margin-top: 3.5rem;
    margin-right: 1rem;
    width: 30px;
}

.content__main h1 {
    color: #2D9CDB;

    margin-top: 3.5rem;

    font-size: 3rem;
}

@media (max-width: 1223px) {
    .content__main {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .content__main {
        width: 94%;

        padding: 0 2rem;
    }
}

@media (max-width: 499px) {
    .content__main {
        width: 96%;
    }
}