.content__main {
    width: 70rem;
    
    flex: 4;

    background-color: rgba(255, 255, 255, 0.705);
    box-shadow: 0px 5px 10px rgb(219, 219, 219);

    padding: 4rem 4rem;
    
}

.content__top {
    display: flex;
    align-items: center;
    justify-content: start;
}

.content__top a {
    margin-right: 1rem;
    width: 1.8rem;

    transition: 0.4s;
}

.content__top a:hover {
    transform: scale(1.1);
}

.content__main h1 {
    color: #2D9CDB;

    font-size: 3rem;
}

img#newspaper {
    width: 1.8rem;
    margin-right: 1rem;
}

@media (max-width: 1223px) {
    .content__main {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .content__main {
        width: 94%;

        padding: 0 2rem;
    }
}

@media (max-width: 499px) {
    .content__main {
        width: 96%;
    }
}

@media (max-width: 400px) {
    .content__main {
        padding: 0 10px;
    }

    .content__main h1 {
        font-size: 2.4rem;
    }
}