.content__notice {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 1.3rem;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.content__title {
    margin: 1.6rem 0;
}

.content__title a {
    text-decoration: none;

    color: #2D9CDB;

    transition: 0.4s;
}

.content__title :hover {
    color: #2b6a8f;
}

.content__description {
    line-height: 1.6;
}

br {
    margin: 1rem 0;
}